---
---

@import "{{ site.theme }}";

#bannerimage {
  width: 100%;
  background-image: url("https://igards.github.io/RPLib/images/20190425_brand_launch_APP-1013.jpg");
  background-size: cover;
}

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: invert($body-link-color);
    outline: thick solid invert($body-link-color);
  }
}
